%html
  %head
    %title Test App
      %script{:type => 'text/javascript', :src => 'http://code.jquery.com/jquery-1.6.4.min.js' }
      %link{:rel => 'stylesheet', :href => 'http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.   css' }
      %script{:src => asset_path('application.js')} 

  %body 
    blah blah
